.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer span{
    font-size: 0.9rem;
    font-weight: 300;
}

span i{
    font-size: 0.8999rem;
}

.t-decoration{
    text-decoration: none;
    color: black;
}

.t-decoration:hover{
    text-decoration: none;
    color: #2f3e68;
}